{% extends "mypage/base.html" %}
{% block title %}
 <title> Contact</title>
{% endblock %}
{% block content %}

    <h1 class="first"><strong>Email:</strong> zdzislawdyrman@zasadniczo.pl</h1>
    <h2 class="second"><strong>Telefon:</strong> 666 050 666</h2>

<form  action="#" method="POST">
    <div class = "center"> Name: <input type="text" name="username" ></div>
    <textarea  name="comment" rows="3"    >Enter text here...</textarea>
    <input  class = "center" type="submit" value="Wyślij">

</form>
{% endblock %}

