<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/kontakt.css') }}">
</head>
<body>
    <h1>Witaj na mojej stronie domowej</h1>
    <img src="https://upload.wikimedia.org/wikipedia/en/2/28/PinkyandtheBrain.Pinky.png" alt="Pinky" title="Me">
    <h2 class="first"><strong>imię:</strong> Zdzisław</h2>
    <h2 class="second"><strong>nazwisko:</strong> Dyrman (zasadniczo)</h2>
</body>
</html>
